page-home {

}

.ion-footer-no-style {
  margin: 0 !important;
  padding: 0 !important;
}

.map {
  width: 100% !important;
  height: 100% !important;
}

.leafMap {
  height: 100%;
  width: 100%;
}

.text-center {
  text-align: center !important;
}

.bg-product-list {
  background: #F1F1F1 !important;
}
